.start-btn {
	color: #fff;
	background: #0d6efd;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
	min-width: 120px;
	font-size: 1.25rem;
	font-weight: bold;
	cursor: pointer;
	margin: 1.5em 1em;
	padding: 0.5em;
}

.start-btn:focus {
	outline: none;
}
  
.start-btn:active {
	box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
