.questions--container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2em;
}

.question {
	width: 90%;
}

.question h4 {
	font-weight: bold;
}

.answers--container {
	display: flex;
	justify-content: space-evenly;
}

.answer {
	display: flex;
	align-items: center;
	max-width: 30%;
	border: 1px solid black;
	border-radius: 5px;
	padding: 0.25em 0.35em;
	cursor: pointer;
	text-align: center;
	background: #fff;
	color: #000;
	margin: 0.25em;
	word-wrap: inherit;
}

.btn--container {
	display: flex;
	justify-content: center;
}

.higlighted-answer {
	box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.correct-answer {
	box-shadow: inset 5px 5px 10px -3px rgba(0, 128, 0, 0.7);
	background: #94D7A2;
}

.incorrect-answer {
	box-shadow: inset 5px 5px 10px -3px rgba(255, 0, 0, 0.7);
	background: #F8BCBC;
}